<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{album.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{album.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/albums}" th:text="#{album.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('album')}" />
            <form th:action="${T(com.creditmusic.credit_music_api_app.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='album', field='groupName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='album', field='title')}" />
                <div th:replace="~{fragments/forms::inputRow(object='album', field='releaseDate')}" />
                <input type="submit" th:value="#{album.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
